@model IEnumerable<LMSGrupp3.Models.Entities.Document>

@{
    ViewData["Title"] = "Documents";
}

<h1>Document</h1>

<p>
    <a asp-action="Create">Create New Doc</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Timestamp)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CourseId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ModuleId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ActivityId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Timestamp)
            </td>
			<td>
				@Html.DisplayFor(modelItem => item.UserId)
			</td>
            <td>
                @Html.DisplayFor(modelItem => item.CourseId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModuleId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ActivityId)
            </td>
            <td>
              @*  <a href="@item.Path">Download</a>*@
               @* @Html.ActionLink("Click here to download", "DownloadFile", new { })*@
               <a asp-action="DownloadFile" asp-route-id="@item.Id">Download</a>
            </td>
        </tr>
}
    </tbody>
</table>