@page
@model RegisterModel
@{
    if (Model.Input.CourseId > 0)
    {
        ViewData["Title"] = "Add Student to Course" + @Model.CourseName + "'";
    }
    else
    {
        ViewData["Title"] = "Create New User";
    }


}
<br />
<h1>@ViewData["Title"]</h1>

<div class="row">
    <div class="col-md-4">
        <form asp-route-returnUrl="@Model.ReturnUrl" method="post" autocomplete="off">
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>

            @{
                if (@Model.Input.CourseId > 0)
                {
                    <div class="form-group">
                        <label asp-for="Input.Role" style="padding-right:15px;"></label>
                        <select asp-for="Input.Role" asp-items="@Model.Input.Roles"></select>
                    </div>

                    <div class="form-group">
                        <label asp-for="Input.CourseId" style="padding-right:15px;"></label>
                        <select asp-for="Input.CourseId" asp-items="@Model.Input.Courses"></select>
                    </div>
                }
                else
                {
                    <div class="form-group">
                        <label asp-for="Input.Role" style="padding-right:15px;"></label>
                        <select asp-for="Input.Role" asp-items="@Model.Input.Roles"></select>
                    </div>

                    <div class="form-group">
                        <label asp-for="Input.CourseId" style="padding-right:15px;"></label>
                        <select asp-for="Input.CourseId" asp-items="@Model.Input.Courses">
                            <option value="0"></option>
                        </select>
                    </div>
                }
            }

            <div class="form-group">
                <label asp-for="Input.Name"></label>
                <input asp-for="Input.Name" class="form-control" />
                <span asp-validation-for="Input.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Email"></label>
                <input asp-for="Input.Email" class="form-control" autocomplete="off" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Password"></label>
                <input asp-for="Input.Password" class="form-control" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.ConfirmPassword"></label>
                <input asp-for="Input.ConfirmPassword" class="form-control" />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>

            <br />
            @{ if (@Model.Input.CourseId > 0)
                {
                    <a class="btn btn-danger btn-sm" asp-controller="Courses" asp-action="Details" asp-route-id="@Model.Input.CourseId">Avbryt</a>
                }
            }

            <button type="submit" class="btn btn-sm btn-primary">Create User</button>
            <br />
            <br />
        </form>
    </div>
</div>

<hr />
<div>
    <a class="btn btn-sm btn-primary" asp-page="/Account/Create"><i class="fas fa-undo-alt"></i> Back to User List</a>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}