@page
@model DetailsModel
@{
    ViewData["Title"] = "Användare ";
}
<br />
<h1>@ViewData["Title"]</h1>

@{
    if (@Model.Input != null)
    {

        if (TempData["newUser"] != null)
        {
            <div class="alert alert-success">
                <strong>@TempData["newUser"]</strong><br />
                @{ if (@TempData["newUserData"] != null)
                    {
                        @TempData["newUserData"]
                    }
                }
            </div>
        }

        <div>
            <hr />
            <dl class="row">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Input.Name)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Input.Name)
                </dd>

                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Input.Email)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Input.Email)
                </dd>

                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Input.Role)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Input.Role)
                </dd>

                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Input.CourseName)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Input.CourseName)
                </dd>
            </dl>
        </div>

        <br>
        <div class="row">
            <div class="col-md-4">
                @*btn btn-primary*@
                <a class="btn btn-sm btn-primary" asp-area="Identity" asp-page="/Account/Edit" asp-route-userEmail="@Model.Input.Email">Redigera</a>
            </div>
        </div>
    }
    else
    {
        <div>
            Hittade inte användaren
        </div>
    }
}

<hr />
<div>
    <a class="btn btn-sm btn-primary" asp-page="/Account/Index"><i class="fas fa-undo-alt"></i> Tillbaka till användarna</a>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
