@page
@model EditUserModel
@{
    ViewData["Title"] = "Edit User";
}
<br />
<h1>@ViewData["Title"]</h1>

@{
    // if (Model.Input.Roles != null)
    if (Model.Input != null)
    {
        <div class="row">
            <div class="col-md-4">
                <form asp-route-returnUrl="@Model.ReturnUrl" method="post" autocomplete="off">

                    <hr />
                    <div asp-validation-summary="All" class="text-danger"></div>

                    <div class="form-group">
                        <label asp-for="Input.Role" style="padding-right:15px;"></label>
                        <select id="Input.Role" name="Input.Role" asp-items="@Model.Input.Roles"></select>
                    </div>

                    <div class="form-group">
                        <label asp-for="Input.Name"></label>
                        <input asp-for="Input.Name" class="form-control" />
                        <span asp-validation-for="Input.Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Input.Email"></label>
                        <input asp-for="Input.Email" class="form-control" autocomplete="off" />
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                    <input asp-for="Input.OrgEmail" class="form-control" />

                    <div class="form-group">
                        <label asp-for="Input.CourseId" style="padding-right:15px;"></label>
                        <select asp-for="Input.CourseId" asp-items="@Model.Input.CourseList">
                            <option value="0"></option>
                        </select>
                    </div>
                    <br />
                    @*<br />
                    <h5>Password change only when new password</h5>
                    <hr />
                    <div class="form-group">
                        <label asp-for="Input.Password"></label>
                        <input asp-for="Input.Password" class="form-control" />
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Input.ConfirmPassword"></label>
                        <input asp-for="Input.ConfirmPassword" class="form-control" />
                        <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                    </div>*@


                    @*<div class="form-group">
            <label asp-for="Input.CourseId" style="padding-right:15px;"></label>
            <select id="Input.CourseId" name="Input.CourseId" asp-items="@Model.Input.CourseList"></select>
        </div>*@





                    <button type="submit" class="btn btn-sm btn-primary"><i class="fas fa-save"></i> Spara</button>
                    <br />
                    <br />
                    @*@if (@Model.ReturnUrl != "")
        {
            <br>
            <div class="row">
                <div class="col-md-4">
                    <a asp-route-returnurl="@Model.ReturnUrl">Go back</a>

                </div>
            </div>
        }*@


                </form>
            </div>
        </div>
    }
    else
    {
        <div class="row">
            <div class="col-md-4">
                Did not find a user
            </div>
        </div>
        @if (@Model.ReturnUrl != "")
        {
            <br>
            <div class="row">
                <div class="col-md-4">
                    <a class="" asp-page="/Account/Index"> Go back @Model.ReturnUrl</a>
                </div>
            </div>
        }
    }
}
@*ReturnUrl:  @Model.ReturnUrl*@
<hr />
<div>
    <a class="btn btn-sm btn-primary" asp-page="/Account/Index"><i class="fas fa-undo-alt"></i> Back to Users</a>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}