@model LMSGrupp3.Models.Entities.Course

@{
    ViewData["Title"] = "Student View";
    }

@{ if (Model != null)
    {
        <br />
        <h1>@ViewData["Rubrik"]</h1>

        <div>
            <dl class="row">
                <dd class="col-sm-2 font-weight-bold">
                    @Html.DisplayFor(model => model.StartDate)
                </dd>
                <dd class="col-sm-10 font-italic font-weight-light">
                    @Html.DisplayFor(model => model.Description)
                </dd>
            </dl>
        </div>

        @*<div class="col-sm-12" style="margin-top:0; margin-bottom:20px; border-top:1px solid #bbbbbb; border-bottom:0; overflow:hidden;">
            <div class="col-sm-12" style="margin-top:0; margin-bottom:5px; margin-left:-15px; padding:0; padding-top:5px; font-size:0.85em;">
                <div class="col-sm-12"><b>Kursdokument</b></div>
                <div class="col-sm-3" style="display:inline;"><i class="far fa-file"></i> Kursdokument</div>
                <div class="col-sm-3" style="display:inline;"><i class="far fa-file"></i> Kursdokument 2</div>
                <div class="col-sm-3" style="display:inline;"><i class="far fa-file"></i> Kommentarer och bilder från föreläsningen</div>
                <div class="col-sm-3" style="display:inline;"><i class="far fa-file"></i> Kursdokument 4</div>
            </div>
        </div>*@

        <h4 class="row stuModules">Modules</h4>

        <div style="padding-bottom:30px;">
            @foreach (var item in Model.Modules)
            {
                <div class="row stuModuleRow">
                    @{

                        var moduleStart = item.StartTime.ToString("dd/MM");  // var moduleStart = String.Format("{0:d/M/yyyy HH:mm:ss}", item.StartTime);
                        var moduleEnd = item.EndTime.ToString("dd/MM");      // var moduleEnd = item.EndTime.ToString("yyddMM hh:mm", ci);
                        var moduleDescription = item.Description.ToString();
                        var moduleActivities = item.ModuleActivities;

                    }
                    @*<div class="col-md-9 col-sm-8">*@
                    <div class="card" style="margin:5px;">
                    <div class="card-block">
                    @*<a class="nav-link" asp-area="" asp-controller="Courses" asp-action="Index">Courses</a>*@
                    <h4><a asp-controller="ActivityModels" asp-action="Index" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="collapseExample"
                       class="col-md-3 col-sm-4 stuModuleLink" style="" onclick="ToggleDocs(@item.Id);">
                        <i id="Ico-@item.Id" class="fa fa-plus stuModuleIcon"></i> @Html.DisplayFor(modelItem => item.Name)
                    </a>
                    </h4>
                    @*</div>*@

                    <a href="#activities-@item.Id" class="col-md-3 col-sm-4 text-left" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="collapseExample" style="">
                    @moduleDescription
                    </a>

                    @*<div class="col-md-3 col-sm-4 col- text-right stuModuleDate">*@
                    <a href="#activities-@item.Id" class="col-md-3 col-sm-4 text-right stuModuleDate" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="collapseExample" style="">
                        <br> Börjar: @moduleStart
                        <br> Slutar: @moduleEnd
                    </a>
                    </div>
                        <button>
                            <a asp-controller="Documents" asp-action="Create">Upload Document</a>
                        </button>
                    </div>

                    <div id="Docs-@item.Id" class="col-sm-12" style="margin-top:5px; display:none;">
                        @*stuModuleDocHidden*@
                        <div style="font-style:italic"> @Html.DisplayFor(modelItem => item.Description)</div>
                        @*<div class="col-sm-12 stuModuleDocArea" style="margin-top:5px; padding-top:5px; margin-bottom:0; border-top:1px solid #bbbbbb; border-bottom:0; overflow:hidden;">
                            <div class="col-sm-12"><b>Dokument</b></div>
                            <div class="col-sm-3 stuModuleDocItem"><i class="far fa-file"></i> Schema</div>
                            <div class="col-sm-3 stuModuleDocItem"><i class="far fa-file"></i> Introduktion till modulen</div>
                            <div class="col-sm-3 stuModuleDocItem"><i class="far fa-file"></i> Moduldokument</div>
                            <div class="col-sm-3 stuModuleDocItem"><i class="far fa-file"></i> Kommentarer och bilder från föreläsningen</div>
                        </div>*@
                    </div>
                </div>

                <div id="activities-@item.Id" class="collapse">
                    @foreach (var activity in item.ModuleActivities.Where(a => a.ModuleId == item.Id))
                    {
                        // var timeStart = activity.StartDate.ToString("yyMMdd hh:mm"); /*yyyy - MM - dd hh: mm*/
                        //var timeEnd = activity.StopDate.ToString("yyMMdd hh:mm");

                        var timeStart = activity.StartDate.ToString("d/MM hh:mm");
                        var timeEnd = activity.StopDate.ToString("d/MM hh:mm");

                        <div class="row actRow">
                            <div class="col-sm-4 font-weight-bold">
                                @timeStart - @timeEnd
                            </div>
                            <div class="col-sm-6 font-weight-bold">
                                @activity.Name
                            </div>
                            <div class="col-sm-2 font-weight-bold">
                                @activity.ActivityType.Name
                            </div>
                            <div class="col-sm-9 font-italic">
                                @activity.ActivityType.Description
                            </div>
                            @*@if (@activity.ActivityType.Name == "Föreläsning")
                            {
                                <div class="col-sm-3 font-normal actInlamning">
                                    Lämna inlämningsuppgift
                                </div>
                            }*@

                            <hr />

                            <div class="col-sm-12" style="margin-top:0; margin-bottom:0; background:#fafafa; border-top:1px solid #bbbbbb; border-bottom:0; overflow:hidden;">
                                @*<div class="col-sm-12" style="margin-top:0; margin-bottom:5px; margin-left:-15px; padding:0; padding-top:5px; font-size:0.85em;">
                                    <div class="col-sm-12"><b>Aktivitetsdokument</b></div>
                                    <div class="col-sm-3" style="display:inline;"><i class="far fa-file"></i> Schema</div>
                                    <div class="col-sm-3" style="display:inline;"><i class="far fa-file"></i> Filmlista</div>
                                    <div class="col-sm-3" style="display:inline;"><i class="far fa-file"></i> Kommentarer och bilder från föreläsningen</div>
                                    <div class="col-sm-3" style="display:inline;"><i class="far fa-file"></i> Övningsuppgifter</div>
                                </div>*@
                            </div>
                        </div>
                    }
                </div>
            }

        </div>
    }
}

@{if (Model == null)
    {
        <br />
        <h3>@ViewData["Rubrik"]</h3>
    }
}